// Footer
footer.footer
  .container
    
    address.footer__address Москва, 2й Вышеславцев пер., д. 5а, 7-ой этаж
    .footer__phones
      div
        a(href="tel:") +7(495) 
          b 645-0-506
      div
        a(href="tel:") +7(999) 
          b 555-1-613
    .footer__description Религиозная организация ортодоксального иудаизма — Московская Марьинорощинская Еврейская Община 
    .footer__copyright Jewell Club © 2019. 
      br 
      | All Rights Reserved Jewellclub
    .footer__development Разработка и продвижение
      a(href="#!" target="_blank")
        img(src="./images/piarme.png", alt="")
  
