.navigation
  .navigation__wrapper
    .logo.navigation__logo
      img(src="./images/logo.svg", alt="")
    nav(role="navigation").navigation__nav
      ul
        li: a(href="#!") О НАС 
        li: a(href="#!") НАШИ ПРОЕКТЫ
        li: a(href="#!") МЕРОПРИЯТИЯ 
        li: a(href="#!") КОНТАКТЫ
    #navigation__btn.navigation__btn
      p Быстрая регистрация на
      a(href="#!").btn.btn--register
        span Регистрация на шаббат
    address.navigation__address Москва, 2й Вышеславцев пер., д. 5а, 7-ой этаж
    .navigation__phones
      div
        a(href="tel:") +7(495) 
          b 645-0-506
      div
        a(href="tel:") +7(999) 
          b 555-1-613
    .social.navigation__social
      a(href="#!" target="_blank")
        img(src="./images/icon-facebook.svg", alt="")
      a(href="#!" target="_blank")
        img(src="./images/icon-vk.svg", alt="")
      a(href="#!" target="_blank")
        img(src="./images/icon-instagram.svg", alt="")
    .navigation__description Религиозная организация ортодоксального иудаизма — Московская Марьинорощинская Еврейская Община 
    .copyright Jewell Club © 2019. 
      br 
      | All Rights Reserved Jewellclub
    .development Разработка и продвижение
      a(href="#!" target="_blank")
        img(src="./images/piarme.png", alt="")