// Social share
.social-share
  .container
    .social-share__top
      div
        .social-share__top-title Следите за нами в 
          b социальных сетях!
      div
        .social-share__links
          a(href="#!" target="_blank")
            img(src="./images/icon-facebook.svg", alt="", width="13", height="24")
          a(href="#!" target="_blank")
            img(src="./images/icon-vk.svg", alt="", width="35", height="20")
          a(href="#!" target="_blank")
            img(src="./images/icon-instagram.svg", alt="", width="25", height="25")
  .social-share__bottom
    .social-share__carousel
      div
        .social-share__block
          img(src="./tmp/bill-poster-img-4.png", alt="")
      div
        .social-share__block
          img(src="./tmp/bill-poster-img-2.png", alt="")
      div
        .social-share__block
          img(src="./tmp/bill-poster-img-3.png", alt="")
      div
        .social-share__block
          img(src="./tmp/bill-poster-img-4.png", alt="")
      div
        .social-share__block
          img(src="./tmp/bill-poster-img-5.png", alt="")
    .social-share__btns
      button#social-share__prev.social-share__prev(type="button")
        span Предыдущие
          span фотографии
      button#social-share__next.social-share__next(type="button")
        span Следующие 
          span фотографии
  .social-share__logo
    img(src="./images/logo.svg", alt="")