// @import "0-vendor/normalize-scss/sass/_normalize.scss";

$root-font-size: 16px;
$grid-columns: 12;
$grid-gutter-width: 30px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 990px,
  xl: 1200px,
  xxl: 1441px
);

$container-max-widths: (
  lg: 989px,
  xxl: 1140px
);

@import "0-vendor/bootstrap/scss/functions";
@import "0-vendor/bootstrap/scss/variables";
@import "0-vendor/bootstrap/scss/mixins";
// @import "0-vendor/bootstrap/scss/root";
@import "0-vendor/bootstrap/scss/reboot";
// @import "0-vendor/bootstrap/scss/type";
@import "0-vendor/bootstrap/scss/images";
// @import "0-vendor/bootstrap/scss/code";
@import "0-vendor/bootstrap/scss/grid";
// @import "0-vendor/bootstrap/scss/tables";
// @import "0-vendor/bootstrap/scss/forms";
// @import "0-vendor/bootstrap/scss/buttons";
// @import "0-vendor/bootstrap/scss/transitions";
// @import "0-vendor/bootstrap/scss/dropdown";
// @import "0-vendor/bootstrap/scss/button-group";
// @import "0-vendor/bootstrap/scss/input-group";
// @import "0-vendor/bootstrap/scss/custom-forms";
// @import "0-vendor/bootstrap/scss/nav";
// @import "0-vendor/bootstrap/scss/navbar";
// @import "0-vendor/bootstrap/scss/card";
// @import "0-vendor/bootstrap/scss/breadcrumb";
// @import "0-vendor/bootstrap/scss/pagination";
// @import "0-vendor/bootstrap/scss/badge";
// @import "0-vendor/bootstrap/scss/jumbotron";
// @import "0-vendor/bootstrap/scss/alert";
// @import "0-vendor/bootstrap/scss/progress";
// @import "0-vendor/bootstrap/scss/media";
// @import "0-vendor/bootstrap/scss/list-group";
// @import "0-vendor/bootstrap/scss/close";
// @import "0-vendor/bootstrap/scss/toasts";
// @import "0-vendor/bootstrap/scss/modal";
// @import "0-vendor/bootstrap/scss/tooltip";
// @import "0-vendor/bootstrap/scss/popover";
// @import "0-vendor/bootstrap/scss/carousel";
// @import "0-vendor/bootstrap/scss/spinners";
@import "0-vendor/bootstrap/scss/utilities";
// @import "0-vendor/bootstrap/scss/print";

@import "1-base/_mixin.scss";
@import "1-base/_variables.scss";
@import "1-base/_font.scss";
@import "1-base/_base.scss";

@import "2-layout/_buttons.scss";
@import "2-layout/_forms.scss";
@import "2-layout/_menu.scss";
@import "2-layout/_header.scss";
@import "2-layout/_footer.scss";

// @import "../dist/js/libs/magnific-popup/magnific-popup.scss";
// @import "../dist/js/libs/jquery.formstyler/jquery.formstyler.scss";
// @import "../dist/js/libs/jquery.formstyler/jquery.formstyler.theme.scss";
// @import "../dist/js/libs/air-datepicker/datepicker.scss";
@import "../dist/font/fontello/css/fontello.scss";
@import "../dist/js/libs/slick/slick.scss";
@import "../dist/js/libs/slick/slick-theme.scss";

@import "3-modules/_modules.scss";

@import "4-utils/_clear.scss";
@import "4-utils/_media-queries.scss";
