doctype

html(lang="ru")

  -var active = '1 мероприятие' //активный пункт меню, список в header.jade
  -var pageTitle = '1 мероприятие' + ' - Jewell' //title страницы для генерации верстки

  include ./_include/_head

  body

    // Preloader
    include ./_include/_preloader

    // Base
    .base

      // Navigation
      include ./_include/_navigation

      // Wrapper
      .wrapper
        include ./_include/_header

        // Content
        .content
          .container

            .row
              .col-md-6.col-lg-6
                .content__top.content__top--one-activite
                  .content__head
                    .small только для девушек
                    h1 GIRLS STARS INTENSIV

                  .one-activity__banner.d-md-none
                    img(src="./tmp/1-activity-img.png", alt="").img-fluid

                  p Если ты хочешь и готова серьезно и углубленно учится , поднимая свой уровень еврейских знаний!

                  .one-activity__date
                    .one-activity__date-wrapper
                      .one-activity__date-counter
                        div Осталось мест: 
                          b 12
                      p
                        strong.fs22 9 февраля в 20:00
                        | Москва, 2й Вышеславцев пер., д. 5а, 7-ой этаж

                  a(href="#!").btn.ttX-18px
                    span заполнить анкету

              .d-none.d-md-block.col-md-6.col-lg-6
                .one-activity__banner
                  img(src="./tmp/1-activity-img.png", alt="").img-fluid

            // Content document
            .content__document
              
              .row.content__row
                .col-lg-6
                  .content__row-head.content__row-head--xs-exclamation
                    h2.fs19.fs28-md.mb20 Мы открываем STARS INTENSIVE для девушек
                .col-lg-6
                  .content__row-content.fs14
                    h3 При этом не имеет значения ходила ли ты на STARS 4 года или только неделю назад начала посещать занятия 
                      br
                      | Важен твой настрой! И желание расти в своем “еврействе”.
                    p Если ты хочешь и готова серьезно и углубленно учится , поднимая свой уровень еврейских знаний ✡
                    p.fs18
                      strong Нам есть что тебе предложить
                    p.mb0
                      strong GIRLS STARS INTENSIV 
                      | это:
                    ul
                      li Увлекательные занятия 3 раза в неделю по 2 часа
                      li Крутой преподавательский состав‍
                      li Поездка в Англию в Августе 2020 для активных студенток
                      li Ежемесячная стипендия 70$ (по результатам экзамена)
                      li Заполняй анкету ✍ и выбери день и время для собеседования ‍

              .row.content__row
                .col-md-6
                  .content__row-content.fs14.mb25.d-md-none
                    p Торжественное открытие состоится 
                      br
                      strong.fs18 9 февраля в 20:00
                  a(href="#!").btn.ttX-18px
                    span заполнить анкету
                .d-none.d-md-block.col-md-6
                  .content__row-content.fs14
                    p Торжественное открытие состоится 
                      br
                      strong.fs18 9 февраля в 20:00

              // Carousel
              .content__carousel.content__carousel--inside
                .content__carousel-wrapper
                  .j-carousel
                    - for (var i=0; i<6; i++) {
                    .slick-slide
                      img(src="./tmp/img-tmp-2.jpg", alt="")
                    - }

              // Bottom form
              .content__form
                form(action="#!" autocomplete="off").form
                  .row
                    .col-md-6
                      .content__form-title.fs28-lg Анкета для GIRLS STARS INTENSIVE
                      .content__form-content.fs14
                        p Все поля обязательны для заполнения.
                    .col-md-6
                      button#active-form-button(type="button").btn.float-right
                        span заполнить анкету

                  div#active-form-block.d-none
                    .row
                      .col-md-6
                        .content__whatsapp
                          div
                            p По вопросам пишите в Whatsapp
                            a(href="https://msng.link/o/?79161533426=wa") 
                              b.fs22.white-space-nowrap
                                img(src="./images/icon-whatsapp-2.svg", alt="").icon 
                                | Хуши  // +79161533426
                      .col-md-6
                        label.form__group.has-icon
                          .form__label.j-label Фамилия и Имя
                            sup *
                          input.form__control.j-input(type="text" name="text" placeholder="" value="")
                          img(src="./images/icon-form-user.svg", alt="").icon-img
                        label.form__group.has-icon
                          .form__label.j-label E-mail
                            sup *
                          input.form__control.j-input(type="text" name="text" placeholder="" value="")
                          img(src="./images/icon-form-mail.svg", alt="").icon-img
                        label.form__group.has-icon.mb60
                          .form__label.j-label Телефон
                            sup *
                          input.form__control.j-input(type="text" name="text" placeholder="" value="")
                          img(src="./images/icon-form-phone.svg", alt="").icon-img
                    .row
                      .col-md-6
                        .content__row-head.content__row-head--xs-question
                          .h2.fs19.mb20 Евреи в твоей семье?
                      .col-md-6
                        fieldset
                          .form__group.mb10
                            label.form__radio
                              input(type="radio" name="1-activity-radio")
                              span.form__radio-input
                              span.form__radio-label Бабушка по материнской линии
                          .form__group.mb10
                            label.form__radio
                              input(type="radio" name="1-activity-radio")
                              span.form__radio-input
                              span.form__radio-label Дедушка по материнской линии
                          .form__group.mb10
                            label.form__radio
                              input(type="radio" name="1-activity-radio")
                              span.form__radio-input
                              span.form__radio-label Бабушка по отцовской линии
                          .form__group.mb10
                            label.form__radio
                              input(type="radio" name="1-activity-radio")
                              span.form__radio-input
                              span.form__radio-label Дедушка по отцовской линии
                          .form__group.mb10
                            label.form__radio
                              input(type="radio" name="1-activity-radio")
                              span.form__radio-input
                              span.form__radio-label Я прошел\а Гиюр
                          .form__group.mb60
                            label.form__radio
                              input(type="radio" name="1-activity-radio" checked)
                              span.form__radio-input
                              span.form__radio-label Может кто-то и есть но я не знаю(  
                    .row
                      .col-md-6
                        .content__row-head.content__row-head--xs-question
                          .h2.fs19.mb20 Сколько лет ты на програмее stars? 
                      .col-md-6
                        fieldset
                          .form__group.mb10
                            label.form__radio
                              input(type="radio" name="1-activity-radio-2")
                              span.form__radio-input
                              span.form__radio-label Не состою в программе
                          .form__group.mb10
                            label.form__radio
                              input(type="radio" name="1-activity-radio-2")
                              span.form__radio-input
                              span.form__radio-label 1 год
                          .form__group.mb10
                            label.form__radio
                              input(type="radio" name="1-activity-radio-2")
                              span.form__radio-input
                              span.form__radio-label 2 года
                          .form__group.mb10
                            label.form__radio
                              input(type="radio" name="1-activity-radio-2")
                              span.form__radio-input
                              span.form__radio-label 3 года
                          .form__group.mb10
                            label.form__radio
                              input(type="radio" name="1-activity-radio-2")
                              span.form__radio-input
                              span.form__radio-label 4 года 
                          .form__group.mb60
                            label.form__radio
                              input(type="radio" name="1-activity-radio-2" checked)
                              span.form__radio-input
                              span.form__radio-label Более 5 лет
                    .row
                      .col-md-6
                        .content__row-head.content__row-head--xs-question
                          .h2.fs19.mb20 Оцени уровень своих знаний:
                      .col-md-6
                        fieldset
                          .form__group.mb10
                            label.form__radio
                              input(type="radio" name="1-activity-radio-3")
                              span.form__radio-input
                              span.form__radio-label Слышала про Мацу, Авраама и Шабат  
                          .form__group.mb10
                            label.form__radio
                              input(type="radio" name="1-activity-radio-3")
                              span.form__radio-input
                              span.form__radio-label Слышала про Рош-аШона и Йом-киПур, но в чем отличие, не разбираюсь 
                          .form__group.mb10
                            label.form__radio
                              input(type="radio" name="1-activity-radio-3")
                              span.form__radio-input
                              span.form__radio-label Уже давно хожу в еврейские организации, но систематических знаний нет
                          .form__group.mb10
                            label.form__radio
                              input(type="radio" name="1-activity-radio-3")
                              span.form__radio-input
                              span.form__radio-label Знаю, что такое Тфилин, Амида, Шофар и могу объяснить другим
                          .form__group.mb60
                            label.form__radio
                              input(type="radio" name="1-activity-radio-3" checked)
                              span.form__radio-input
                              span.form__radio-label Я очень хорошо разбираюсь в еврейской культуре и традиции 
                    .row
                      .col-md-6
                        .content__row-head.content__row-head--xs-question
                          .h2.fs19.mb20 Почему тебе интересен проект STARS
                      .col-md-6
                        fieldset
                          label.form__group.mb70.mt-15-lg.has-icon
                            .form__label.j-label Опиши в 4 предложениях
                              sup *
                            textarea.form__control.j-input(rows="5" name="message" placeholder="" value="")
                            img(src="./images/icon-form-pencil.svg", alt="").icon-img

                    .row
                      .col-md-6
                        .content__row-head.content__row-head--xs-question
                          .h2.fs19.mb5 Дай оценку каждому направлению с учетом твоей заинтересованности в изучении.
                        .content__form-content.fs14
                          p Где 1 - минимальный интерес, а 5 - максимальная заинтересованность.
                      .col-md-6
                        fieldset
                          .form__group.mb40
                            .rating.j-rating
                              .rating__title Еврейская философия
                              .rating__wrapper
                                div
                                  .rating__body
                                    label
                                      input(type='radio' name='stars' value='Безразлично, хочу спать..')
                                      span.icon
                                        b 1
                                    label
                                      input(type='radio' name='stars' value='Включу ка музыку..')
                                      span.icon
                                        b 1
                                      span.icon
                                        b 2
                                    label
                                      input(type='radio' name='stars' value='Посижу послушаю..')
                                      span.icon
                                        b 1
                                      span.icon
                                        b 2
                                      span.icon
                                        b 3
                                    label
                                      input(type='radio' name='stars' value='С радостью послушаю!')
                                      span.icon
                                        b 1
                                      span.icon
                                        b 2
                                      span.icon
                                        b 3
                                      span.icon
                                        b 4
                                    label
                                      input(type='radio' name='stars' value='Максимальный интерес!')
                                      span.icon
                                        b 1
                                      span.icon
                                        b 2
                                      span.icon
                                        b 3
                                      span.icon
                                        b 4
                                      span.icon
                                        b 5
                                div
                                  .rating__info Оцените Вашу заинтересованность

                          .form__group.mb40
                            .rating.j-rating
                              .rating__title Талмудические мысли
                              .rating__wrapper
                                div
                                  .rating__body
                                    label
                                      input(type='radio' name='stars-2' value='Безразлично, хочу спать..')
                                      span.icon
                                        b 1
                                    label
                                      input(type='radio' name='stars-2' value='Включу ка музыку..')
                                      span.icon
                                        b 1
                                      span.icon
                                        b 2
                                    label
                                      input(type='radio' name='stars-2' value='Посижу послушаю..')
                                      span.icon
                                        b 1
                                      span.icon
                                        b 2
                                      span.icon
                                        b 3
                                    label
                                      input(type='radio' name='stars-2' value='С радостью послушаю!')
                                      span.icon
                                        b 1
                                      span.icon
                                        b 2
                                      span.icon
                                        b 3
                                      span.icon
                                        b 4
                                    label
                                      input(type='radio' name='stars-2' value='Максимальный интерес!')
                                      span.icon
                                        b 1
                                      span.icon
                                        b 2
                                      span.icon
                                        b 3
                                      span.icon
                                        b 4
                                      span.icon
                                        b 5
                                div
                                  .rating__info Оцените Вашу заинтересованность

                          .form__group.mb40
                            .rating.j-rating
                              .rating__title Недельная глава Торы 
                              .rating__wrapper
                                div
                                  .rating__body
                                    label
                                      input(type='radio' name='stars-3' value='Безразлично, хочу спать..')
                                      span.icon
                                        b 1
                                    label
                                      input(type='radio' name='stars-3' value='Включу ка музыку..')
                                      span.icon
                                        b 1
                                      span.icon
                                        b 2
                                    label
                                      input(type='radio' name='stars-3' value='Посижу послушаю..')
                                      span.icon
                                        b 1
                                      span.icon
                                        b 2
                                      span.icon
                                        b 3
                                    label
                                      input(type='radio' name='stars-3' value='С радостью послушаю!')
                                      span.icon
                                        b 1
                                      span.icon
                                        b 2
                                      span.icon
                                        b 3
                                      span.icon
                                        b 4
                                    label
                                      input(type='radio' name='stars-3' value='Максимальный интерес!')
                                      span.icon
                                        b 1
                                      span.icon
                                        b 2
                                      span.icon
                                        b 3
                                      span.icon
                                        b 4
                                      span.icon
                                        b 5
                                div
                                  .rating__info Оцените Вашу заинтересованность

                          .form__group.mb40
                            .rating.j-rating
                              .rating__title Каббала, хасидут
                              .rating__wrapper
                                div
                                  .rating__body
                                    label
                                      input(type='radio' name='stars-4' value='Безразлично, хочу спать..')
                                      span.icon
                                        b 1
                                    label
                                      input(type='radio' name='stars-4' value='Включу ка музыку..')
                                      span.icon
                                        b 1
                                      span.icon
                                        b 2
                                    label
                                      input(type='radio' name='stars-4' value='Посижу послушаю..')
                                      span.icon
                                        b 1
                                      span.icon
                                        b 2
                                      span.icon
                                        b 3
                                    label
                                      input(type='radio' name='stars-4' value='С радостью послушаю!')
                                      span.icon
                                        b 1
                                      span.icon
                                        b 2
                                      span.icon
                                        b 3
                                      span.icon
                                        b 4
                                    label
                                      input(type='radio' name='stars-4' value='Максимальный интерес!')
                                      span.icon
                                        b 1
                                      span.icon
                                        b 2
                                      span.icon
                                        b 3
                                      span.icon
                                        b 4
                                      span.icon
                                        b 5
                                div
                                  .rating__info Оцените Вашу заинтересованность

                          .form__group.mb40
                            .rating.j-rating
                              .rating__title Еврейская история 
                              .rating__wrapper
                                div
                                  .rating__body
                                    label
                                      input(type='radio' name='stars-5' value='Безразлично, хочу спать..')
                                      span.icon
                                        b 1
                                    label
                                      input(type='radio' name='stars-5' value='Включу ка музыку..')
                                      span.icon
                                        b 1
                                      span.icon
                                        b 2
                                    label
                                      input(type='radio' name='stars-5' value='Посижу послушаю..')
                                      span.icon
                                        b 1
                                      span.icon
                                        b 2
                                      span.icon
                                        b 3
                                    label
                                      input(type='radio' name='stars-5' value='С радостью послушаю!')
                                      span.icon
                                        b 1
                                      span.icon
                                        b 2
                                      span.icon
                                        b 3
                                      span.icon
                                        b 4
                                    label
                                      input(type='radio' name='stars-5' value='Максимальный интерес!')
                                      span.icon
                                        b 1
                                      span.icon
                                        b 2
                                      span.icon
                                        b 3
                                      span.icon
                                        b 4
                                      span.icon
                                        b 5
                                div
                                  .rating__info Оцените Вашу заинтересованность

                          .form__group.mb40
                            .rating.j-rating
                              .rating__title Законы шабата
                              .rating__wrapper
                                div
                                  .rating__body
                                    label
                                      input(type='radio' name='stars-6' value='Безразлично, хочу спать..')
                                      span.icon
                                        b 1
                                    label
                                      input(type='radio' name='stars-6' value='Включу ка музыку..')
                                      span.icon
                                        b 1
                                      span.icon
                                        b 2
                                    label
                                      input(type='radio' name='stars-6' value='Посижу послушаю..')
                                      span.icon
                                        b 1
                                      span.icon
                                        b 2
                                      span.icon
                                        b 3
                                    label
                                      input(type='radio' name='stars-6' value='С радостью послушаю!')
                                      span.icon
                                        b 1
                                      span.icon
                                        b 2
                                      span.icon
                                        b 3
                                      span.icon
                                        b 4
                                    label
                                      input(type='radio' name='stars-6' value='Максимальный интерес!')
                                      span.icon
                                        b 1
                                      span.icon
                                        b 2
                                      span.icon
                                        b 3
                                      span.icon
                                        b 4
                                      span.icon
                                        b 5
                                div
                                  .rating__info Оцените Вашу заинтересованность

                          .form__group.mb40
                            .rating.j-rating
                              .rating__title Законы кашрута
                              .rating__wrapper
                                div
                                  .rating__body
                                    label
                                      input(type='radio' name='stars-7' value='Безразлично, хочу спать..')
                                      span.icon
                                        b 1
                                    label
                                      input(type='radio' name='stars-7' value='Включу ка музыку..')
                                      span.icon
                                        b 1
                                      span.icon
                                        b 2
                                    label
                                      input(type='radio' name='stars-7' value='Посижу послушаю..')
                                      span.icon
                                        b 1
                                      span.icon
                                        b 2
                                      span.icon
                                        b 3
                                    label
                                      input(type='radio' name='stars-7' value='С радостью послушаю!')
                                      span.icon
                                        b 1
                                      span.icon
                                        b 2
                                      span.icon
                                        b 3
                                      span.icon
                                        b 4
                                    label
                                      input(type='radio' name='stars-7' value='Максимальный интерес!')
                                      span.icon
                                        b 1
                                      span.icon
                                        b 2
                                      span.icon
                                        b 3
                                      span.icon
                                        b 4
                                      span.icon
                                        b 5
                                div
                                  .rating__info Оцените Вашу заинтересованность

                          .form__group.mb40
                            .rating.j-rating
                              .rating__title Еврейский взгляд на семью
                              .rating__wrapper
                                div
                                  .rating__body
                                    label
                                      input(type='radio' name='stars-8' value='Безразлично, хочу спать..')
                                      span.icon
                                        b 1
                                    label
                                      input(type='radio' name='stars-8' value='Включу ка музыку..')
                                      span.icon
                                        b 1
                                      span.icon
                                        b 2
                                    label
                                      input(type='radio' name='stars-8' value='Посижу послушаю..')
                                      span.icon
                                        b 1
                                      span.icon
                                        b 2
                                      span.icon
                                        b 3
                                    label
                                      input(type='radio' name='stars-8' value='С радостью послушаю!')
                                      span.icon
                                        b 1
                                      span.icon
                                        b 2
                                      span.icon
                                        b 3
                                      span.icon
                                        b 4
                                    label
                                      input(type='radio' name='stars-8' value='Максимальный интерес!')
                                      span.icon
                                        b 1
                                      span.icon
                                        b 2
                                      span.icon
                                        b 3
                                      span.icon
                                        b 4
                                      span.icon
                                        b 5
                                div
                                  .rating__info Оцените Вашу заинтересованность

                    .row
                      .col-md-6
                        .d-none.d-md-block.content__whatsapp.content__whatsapp--2
                          div
                            p По вопросам пишите в Whatsapp
                            a(href="https://msng.link/o/?79161533426=wa") 
                              b.fs22.white-space-nowrap
                                img(src="./images/icon-whatsapp-2.svg", alt="").icon 
                                | Хуши  // +79161533426
                                
                        .content__row-head.content__row-head--xs-question
                          .h2.fs19.mb5 Выбери дату и время удобное для прохождения личного собеседования с тобой
                        .content__form-content.fs14
                          p Продолжительность интервью 10-15 минут 
                      .col-md-6
                        fieldset
                          .schedule
                            .schedule__row
                              div
                                label.schedule__label
                                  input(type="radio" name="schedule" value="26 января, с 16:00 до 18:00" checked)
                                  span.schedule__label-span
                                    span 26 января 
                                    small с 16:00 до 18:00
                              div
                                label.schedule__label
                                  input(type="radio" name="schedule" value="27 января, с 16:00 до 18:00")
                                  span.schedule__label-span
                                    span 27 января 
                                    small с 16:00 до 18:00
                              div
                                label.schedule__label
                                  input(type="radio" name="schedule" value="28 января, с 16:00 до 18:00")
                                  span.schedule__label-span
                                    span 28 января
                                    small с 16:00 до 18:00

                        .content__whatsapp.d-md-none
                          div
                            p По вопросам пишите в Whatsapp
                            a(href="https://msng.link/o/?79161533426=wa") 
                              b.fs22.white-space-nowrap
                                img(src="./images/icon-whatsapp-2.svg", alt="").icon 
                                | Хуши  // +79161533426
                        
                    .text-center
                      .d-none.d-lg-block
                        .clear50
                      .one-activity__info
                        div Высылая анкету - я подтверждаю, что настроена серьезно!

                      button(type="button").btn.mb0.ttX-18px
                        span выслать анкету
                      
        include ./_include/_social-share

        include ./_include/_footer

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

