doctype

html(lang="ru")

  -var active = 'Наши проекты' //активный пункт меню, список в header.jade
  -var pageTitle = 'Наши проекты' + ' - Jewell' //title страницы для генерации верстки

  include ./_include/_head

  body

    // Preloader
    include ./_include/_preloader

    // Base
    .base

      // Navigation
      include ./_include/_navigation

      // Wrapper
      .wrapper
        include ./_include/_header

        // Content
        .content
          .container
            .content__head
              .small важен каждый
              h1 Наши проекты

            // Content document
            .content__document
              
              

        include ./_include/_footer

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

