doctype

html(lang="ru")

  -var active = 'Помощь клубу' //активный пункт меню, список в header.jade
  -var pageTitle = 'Помощь клубу' + ' - Jewell' //title страницы для генерации верстки

  include ./_include/_head

  body

    // Preloader
    include ./_include/_preloader

    // Base
    .base

      // Navigation
      include ./_include/_navigation

      // Wrapper
      .wrapper
        include ./_include/_header

        // Content
        .content
          .container
            .content__head
              .small важен каждый
              h1 Помочь клубу

            // Carousel
            .content__carousel
              .content__carousel-wrapper
                .j-carousel
                  - for (var i=0; i<6; i++) {
                  .slick-slide
                    img(src="./tmp/img-tmp-1.jpg", alt="")
                  - }

            // Content document
            .content__document
              
              .row.content__row
                .col-lg-6
                  .content__row-head.content__row-head--exclamation
                    h2 Заголовок текста, или текстовый заголовок
                .col-lg-6
                  h3 Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                  .content__row-content.fs14
                    p Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. 
                    p.fs18
                      strong Нам есть что тебе предложить

              // Bottom form
              .content__form
                .row
                  .col-lg-6
                    .content__form-title Хочу пожертвовать клубу на развитие, обустройство и мероприятия
                    .content__form-content.fs14
                      p Если у вас есть банковская карта MasterCard/Maestro или VISA любого российского банка, вы можете отправить денежный перевод с карты через сервис онлайн-переводов ЮНИСТРИМ в любом месте, где есть интернет. 
                      p Отправка денежных переводов доступна 24 часа в сутки, 7 дней в неделю без перерывов и выходных. Оформление перевода займет всего несколько минут.
                  .col-lg-6
                    form(action="#!" autocomplete="off").form
                      .donations
                        .donations__row
                          div
                            label.donations__label
                              input(type="radio" name="donations" value="500" checked)
                              span.donations__label-span
                                span 500
                                  i.icon-rouble
                          div
                            label.donations__label
                              input(type="radio" name="donations" value="1000")
                              span.donations__label-span
                                span 1 000
                                  i.icon-rouble
                          div
                            label.donations__label
                              input(type="radio" name="donations" value="5000")
                              span.donations__label-span
                                span 5 000
                                  i.icon-rouble
                          div
                            label.donations__label
                              input(type="radio" name="donations" value="10000")
                              span.donations__label-span
                                span 10 000
                                  i.icon-rouble
                          div
                            label.donations__label
                              input(type="radio" name="donations" value="20000")
                              span.donations__label-span
                                span 20 000
                                  i.icon-rouble
                          div
                            label.donations__label
                              input(type="radio" name="donations" value="50000")
                              span.donations__label-span
                                span 50 000
                                  i.icon-rouble
                          div
                            .donations__input
                              div
                                span.donations__input-span Введите свою сумму
                              div
                                .donations__input-input
                                  input(type="text" value="2 000 000")
                                  i.icon-rouble

                      label.form__group.has-icon
                        .form__label.j-label Фамилия и Имя
                          sup *
                        input.form__control.j-input(type="text" name="text" placeholder="" value="")
                        img(src="./images/icon-form-user.svg", alt="").icon-img
                      label.form__group.has-icon
                        .form__label.j-label E-mail
                          sup *
                        input.form__control.j-input(type="text" name="text" placeholder="" value="")
                        img(src="./images/icon-form-mail.svg", alt="").icon-img
                      label.form__group.has-icon
                        .form__label.j-label Телефон
                          sup *
                        input.form__control.j-input(type="text" name="text" placeholder="" value="")
                        img(src="./images/icon-form-phone.svg", alt="").icon-img
                      .form__group
                        label.form__checkbox
                          input(type="checkbox" checked)
                          span.form__checkbox-input
                          span.form__checkbox-label Отправить анонимно и не присылать мне на почту отчеты использования денежных средств

                      .text-center.text-lg-left
                        button(type="button").btn.btn--send
                          span отправить 
                            span.d-none.d-md-inline-block перевод

        include ./_include/_footer

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

