doctype

html(lang="ru")

  -var active = 'Помощь клубу' //активный пункт меню, список в header.jade
  -var pageTitle = 'Помощь клубу' + ' - Jewell' //title страницы для генерации верстки

  include ./_include/_head

  body

    // Preloader
    include ./_include/_preloader

    // Base
    .base

      // Navigation
      .navigation
        .navigation__wrapper
          .logo.navigation__logo
            img(src="./images/logo.svg", alt="")
          nav(role="navigation").navigation__nav
            ul
              li: a(href="#!") О НАС 
              li: a(href="#!") НАШИ ПРОЕКТЫ
              li: a(href="#!") МЕРОПРИЯТИЯ 
              li: a(href="#!") КОНТАКТЫ
          #navigation__btn.navigation__btn
            p Быстрая регистрация на
            a(href="#!").btn.btn--register
              span Регистрация на шаббат
          address.navigation__address Москва, 2й Вышеславцев пер., д. 5а, 7-ой этаж
          .navigation__phones
            div
              a(href="tel:") +7(495) 
                b 645-0-506
            div
              a(href="tel:") +7(999) 
                b 555-1-613
          .social.navigation__social
            a(href="#!" target="_blank")
              img(src="./images/icon-facebook.svg", alt="")
            a(href="#!" target="_blank")
              img(src="./images/icon-vk.svg", alt="")
            a(href="#!" target="_blank")
              img(src="./images/icon-instagram.svg", alt="")
          .navigation__description Религиозная организация ортодоксального иудаизма — Московская Марьинорощинская Еврейская Община 
          .copyright Jewell Club © 2019. 
            br 
            | All Rights Reserved Jewellclub
          .development Разработка и продвижение
            a(href="#!" target="_blank")
              img(src="./images/piarme.png", alt="")

      // Wrapper
      .wrapper
        include ./_include/_header

        // Content
        .content
          .container
            .content__head
              .small важен каждый
              h1 Помочь клубу

            // Carousel
            .content__carousel
              .content__carousel-wrapper
                .j-carousel
                  - for (var i=0; i<6; i++) {
                  .slick-slide
                    img(src="./tmp/img-tmp-1.jpg", alt="")
                  - }

            // Content document
            .content__document
              
              .row.content__row
                .col-lg-6
                  .content__row-head.content__row-head--exclamation
                    h2 Заголовок текста, или текстовый заголовок
                .col-lg-6
                  h3 Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                  .content__row-content.fs14
                    p Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. 
                  p
                    strong Нам есть что тебе предложить

              // Bottom form
              .content__form
                .row
                  .col-lg-6
                    .content__form-title Хочу пожертвовать клубу на развитие, обустройство и мероприятия
                    .content__form-content.fs14
                      p Если у вас есть банковская карта MasterCard/Maestro или VISA любого российского банка, вы можете отправить денежный перевод с карты через сервис онлайн-переводов ЮНИСТРИМ в любом месте, где есть интернет. 
                      p Отправка денежных переводов доступна 24 часа в сутки, 7 дней в неделю без перерывов и выходных. Оформление перевода займет всего несколько минут.
                  .col-lg-6
                    form(action="#!").form
                      label.form__group.has-icon
                        .form__label.j-label Фамилия и Имя
                          sup *
                        input.form__control.j-input(type="text" name="text" placeholder="" value="")
                        img(src="./images/icon-form-user.svg", alt="").icon-img
                      label.form__group.has-icon
                        .form__label.j-label E-mail
                          sup *
                        input.form__control.j-input(type="text" name="text" placeholder="" value="")
                        img(src="./images/icon-form-mail.svg", alt="").icon-img
                      label.form__group.has-icon
                        .form__label.j-label Телефон
                          sup *
                        input.form__control.j-input(type="text" name="text" placeholder="" value="")
                        img(src="./images/icon-form-phone.svg", alt="").icon-img
                      .form__group
                        label.form__checkbox
                          input(type="checkbox" checked)
                          span.form__checkbox-input
                          span.form__checkbox-label Отправить анонимно и не присылать мне на почту отчеты использования денежных средств

                      .text-center.text-lg-left
                        button(type="button").btn.btn--send
                          span отправить 
                            span.d-none.d-md-inline-block перевод


    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

