doctype

html(lang="ru")

  -var active = 'Главная' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная' + ' - Jewell' //title страницы для генерации верстки

  include ./_include/_head

  body

    // Preloader
    include ./_include/_preloader

    .base

      .navigation
        .navigation__wrapper
          .logo.navigation__logo
            img(src="./images/logo.svg", alt="")
          nav(role="navigation").navigation__nav
            ul
              li: a(href="#!") О НАС 
              li: a(href="#!") НАШИ ПРОЕКТЫ
              li: a(href="#!") МЕРОПРИЯТИЯ 
              li: a(href="#!") КОНТАКТЫ
          address.navigation__address Москва, 2й Вышеславцев пер., д. 5а, 7-ой этаж
          .navigation__phones
            div
              a(href="tel:") +7(495) 
                b 645-0-506
            div
              a(href="tel:") +7(999) 
                b 555-1-613
          .social.navigation__social
            a(href="#!" target="_blank")
              img(src="./images/icon-facebook.svg", alt="")
            a(href="#!" target="_blank")
              img(src="./images/icon-vk.svg", alt="")
            a(href="#!" target="_blank")
              img(src="./images/icon-instagram.svg", alt="")
          .navigation__description Религиозная организация ортодоксального иудаизма — Московская Марьинорощинская Еврейская Община 
          .copyright Jewell Club © 2019. 
            br 
            | All Rights Reserved Jewellclub
          .development Разработка и продвижение
            a(href="#!" target="_blank")
              img(src="./images/piarme.png", alt="")

      .wrapper
        include ./_include/_header
        
        .content
          .container
            .content__head
              .small только лучшее
              h1 EDUCATION | 
                br
                | ОБРАЗОВАНИЕ
            p Лекции, семинары и индивидуальные занятия. Многовековая мудрость еврейского народа: язык, традиции, тайны Торы, Талмуда, Хасидизма и Кабалы.
            p Лекции, семинары и индивидуальные занятия. Многовековая мудрость еврейского народа: язык, традиции, тайны Торы, Талмуда, Хасидизма и Кабалы.

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

