doctype

html(lang="ru")

  -var active = 'Главная' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная' + ' - Jewell' //title страницы для генерации верстки

  include ./_include/_head

  body

    // Preloader
    include ./_include/_preloader

    // Base
    .base

      // Navigation
      include ./_include/_navigation

      // Wrapper
      .wrapper.wrapper--main
        include ./_include/_header
        
        // Content
        .content
          // Main slider
          .main-slider
            .container
              .main-slider__wrapper
                .main-slider__carousel
                  div
                    .main-slider__block
                      a(href="#!")
                        img(src="./tmp/main-slider-2.jpg", alt="").img-fluid
                      .main-slider__block-content
                        div
                          p Заголовок текст текст текст текст текст текст… 
                          time.main-slider__block-time 01.01.1900
                        div
                          .d-lg-none
                            a(href="#!").btn.btn--register
                              span Регистрация на шаббат
                          .d-none.d-lg-block
                            a(href="#!").btn
                              span Зарегистрироваться
                  div
                    .main-slider__block
                      a(href="#!")
                        img(src="./tmp/main-slider-1.jpg", alt="").img-fluid
                      .main-slider__block-content
                        div
                          p Заголовок текст текст текст текст текст текст… 
                          time.main-slider__block-time 01.01.1900
                        div
                          .d-lg-none
                            a(href="#!").btn.btn--register
                              span Регистрация на шаббат
                          .d-none.d-lg-block
                            a(href="#!").btn
                              span Зарегистрироваться
                  div
                    .main-slider__block
                      a(href="#!")
                        img(src="./tmp/main-slider-3.jpg", alt="").img-fluid
                      .main-slider__block-content
                        div
                          p Заголовок текст текст текст текст текст текст… 
                          time.main-slider__block-time 01.01.1900
                        div
                          .d-lg-none
                            a(href="#!").btn.btn--register
                              span Регистрация на шаббат
                          .d-none.d-lg-block
                            a(href="#!").btn
                              span Зарегистрироваться
                  div
                    .main-slider__block
                      a(href="#!")
                        img(src="./tmp/main-slider-1.jpg", alt="").img-fluid
                      .main-slider__block-content
                        div
                          p Заголовок текст текст текст текст текст текст… 
                          time.main-slider__block-time 01.01.1900
                        div
                          .d-lg-none
                            a(href="#!").btn.btn--register
                              span Регистрация на шаббат
                          .d-none.d-lg-block
                            a(href="#!").btn
                              span Зарегистрироваться

          .container

            // Tagline
            .tagline
              .tagline__wrapper
                div
                  .tagline__logo
                    img(src="./images/logo.svg", alt="")
                div
                  .tagline__content 
                    strong.color--blue JEWELL 
                    | — МЫ ДЕЛАЕМ ВКЛАД В ТВОЮ 
                    strong УСПЕШНОСТЬ
                    | , ТЫ — В 
                    strong ПРОЦВЕТАНИЕ 
                    | СВОЕГО НАРОДА!

            .clear
            
            // Our projects
            .our-projects
              .row
                .col-12.col-md-6.col-xl-4
                  .our-projects__block
                    .our-projects__block-letter(style="background-image: url('./tmp/bill-poster-img-4.png');")
                      img(src="./images/mask-j.svg", alt="")
                    a(href="#!").our-projects__block-title
                      span JOURNEY | ПУТЕШЕСТВИЯ
                    p Дарим незабываемые поездки в  США, Израиль и Европу c уникальной программой. Узнавая мир, ты познаёшь себя!
                .col-12.col-md-6.col-xl-4
                  .our-projects__block
                    .our-projects__block-letter(style="background-image: url('./tmp/bill-poster-img-4.png');")
                      img(src="./images/mask-e.svg", alt="")
                    a(href="#!").our-projects__block-title
                      span EDUCATION | ОБРАЗОВАНИЕ
                    p Лекции, семинары и индивидуальные занятия. Многовековая мудрость еврейского народа: язык, традиции, тайны Торы, Талмуда, Хасидизма и Кабалы.
                .col-12.col-md-6.col-xl-4
                  .our-projects__block
                    .our-projects__block-letter(style="background-image: url('./tmp/bill-poster-img-4.png');")
                      img(src="./images/mask-w.svg", alt="")
                    a(href="#!").our-projects__block-title
                      span WORK | РАБОТА
                    p Первый еврейский коворкинг, бизнес клуб и бизнес инкубатор. Помощь в трудоустройстве, гранты, новые бизнес контактов
                .col-12.col-md-6.col-xl-4
                  .our-projects__block
                    .our-projects__block-letter(style="background-image: url('./tmp/bill-poster-img-4.png');")
                      img(src="./images/mask-e.svg", alt="")
                    a(href="#!").our-projects__block-title
                      span EXPERIENCE | ОПЫТ
                    p Мастер-классы, тренинги, интеллектуальные мероприятия. Главное: что мы делаем вклад в твою успешность, ты в процветание своего народа!
                .col-12.col-md-6.col-xl-4
                  .our-projects__block
                    .our-projects__block-letter(style="background-image: url('./tmp/bill-poster-img-4.png');")
                      img(src="./images/mask-l.svg", alt="")
                    a(href="#!").our-projects__block-title
                      span LEISURE | ДОСУГ
                    p Арт-кафе с программами на любой вкус: концерты, кинопоказы, игротеки, вечеринки на еврейские и международные праздники.
                .col-12.col-md-6.col-xl-4
                  .our-projects__block
                    .our-projects__block-letter(style="background-image: url('./tmp/bill-poster-img-4.png');")
                      img(src="./images/mask-l.svg", alt="")
                    a(href="#!").our-projects__block-title
                      span LOVE | ШИДУХ
                    p В «JEWELL»  много замечательных людей, среди которых можно найти друзей, а возможно и встретить своего человека, который станет твоей второй половинкой.

            // About
            .about

              .row
                .col-12.col-lg-6
                  .content__head
                    .small JEWELL CLUB
                    h1 ЧТО ТАКОЕ JEWELL?

                  .about___content.fs14
                    .h3 Это новый уникальный проект затрагивающий все сферы жизни современного молодого человека с активной жизненной позицией.
                    p Если ты собираешься к нам прийти не в первый раз, то ты и так все знаешь, но на всякий случай мы еще раз расскажем, что ждет тебя в клубе JEWELL:
                    p Молодежная еврейская община 18 — 30 лет. Компания старых друзей, которая очень ждет новых участников.Дружеская атмосфера. Кафе с доступными ценами.
                  .about__footer
                    a(href="#!").btn.ttX-18px
                      span Стать участником

        include ./_include/_footer

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

