doctype

html(lang="ru")

  -var active = 'Kabbalat Shabbat' //активный пункт меню, список в header.jade
  -var pageTitle = 'Kabbalat Shabbat' + ' - Jewell' //title страницы для генерации верстки

  include ./_include/_head

  body

    // Preloader
    include ./_include/_preloader

    // Base
    .base

      // Navigation
      include ./_include/_navigation

      // Wrapper
      .wrapper
        include ./_include/_header

        // Content
        .content
          .container

            .row
              .col-lg-6
                .content__top.content__top--one-activite
                  .content__head
                    .small только лучшее
                    h1 Каббалат Шаббат

                  .d-md-none
                    // Carousel
                    .content__carousel.content__carousel--col.mb80
                      .content__carousel-wrapper
                        .j-carousel
                          - for (var i=0; i<6; i++) {
                          .slick-slide
                            img(src="./tmp/img-tmp-1.jpg", alt="")
                          - }

                  .one-activity__date
                    .one-activity__date-wrapper
                      .one-activity__date-counter
                        div Осталось мест: 
                          b 12
                      p
                        strong.fs22 9 февраля в 20:00
                        | Москва, 2й Вышеславцев пер., д. 5а, 7-ой этаж

                  a(href="#!").btn.ttX-18px
                    span.d-md-none Регистрация
                    span.d-none.d-md-inline-block Перейти к регистрации

              .d-none.d-md-block.col-lg-6
                
                // Carousel
                .content__carousel.content__carousel--col.mt40
                  .content__carousel-wrapper
                    .j-carousel
                      - for (var i=0; i<6; i++) {
                      .slick-slide
                        img(src="./tmp/img-tmp-1.jpg", alt="")
                      - }

            // Content document
            .content__document
              
              .row.content__row
                .col-lg-6
                  .content__row-content.fs14
                    p 
                      strong За столом общение 
                      | предлагаем обсудить интересные актуальные темы
                    p 
                      strong Стол ЕвроСтарс, 
                      | мы будем рады встретить новичков которые хотят подробнее узнать об этой удивительной программе
                    p 
                      strong VIP 
                      | — стол с улучшенным меню за вашу символическую цдаку
                    p 
                      strong За столом День рождения 
                      | мы будем поздравлять самую веселую нашу студентку Евростарс, Евгению Шиликову (Идит, 
                      a(href="#!") vk.com
                      | )
                    p 
                      strong Стол Игротека, 
                      | за которым наши друзья Леви Ицхак vk.com и Михаил Гужов 
                      a(href="#!") vk.com
                      | , проведут интересную игру Fluxx «Ктулху» (
                      a(href="#!") youtube.com
                      | )

                .col-lg-6
                  .content__row-content.fs14
                    p 
                      strong Наш гость 
                      | будет рад познакомиться с еврейской молодежью Москвы и рассказать о себе
                    p 
                      strong За столом Кошер Сторис Давид Шапиро 
                        a(href="#!") vk.com
                      | &nbsp;приготовил порцию хасидских историй и рассказов
                    p 
                      strong Стол Speaking English, 
                      | для тех кто хочет попрактиковать и подтянуть свои английский с носителем языка
                    p 
                      strong Стол Juhuro 
                      | для тех кто хочет познакомиться поближе с горскими традициями

              // Reservation
              .reservation
                .reservation__wrapper
                  .row
                    .col-12.col-md-6
                      .reservation__title Чтобы забронировать место нажмите на изображение стула у 
                        span.text-underline выбранного стола
                        | !
                    .d-none.d-md-block.col-12.col-md-6
                      .text-center.text-lg-left
                        .reservation__info
                          div Вы не можете забронировать больше одного стула!
                  
                  .row
                    .col-12.col-md-6
                      .reservation__about
                        .reservation__about-row
                          div
                            img(src="./images/reservation-table-1.svg", alt="")
                          div
                            p Свободное место, нажмите чтобы забронировать место
                        .reservation__about-row
                          div
                            img(src="./images/reservation-table-2.svg", alt="")
                          div
                            p Место занято, рядом отображается имя того, кто забронировал место
                        .reservation__about-row
                          div
                            img(src="./images/reservation-table-3.svg", alt="")
                          div
                            p Ваше забронированное место, нажмите чтобы убрать бронь
                    
                    .col-12.d-md-none
                      .text-center.text-lg-left
                        .reservation__info
                          div Вы не можете забронировать больше одного стула!

                    .col-12.col-md-6
                      .content__row-content.fs14.mb30
                        .h3.text-uppercase
                          strong Краткое меню:
                        ul
                          li Лобстеры
                          li Икра черная
                          li Икра красная
                          li Икра заморская, баклажанная
                          li И многое другое…
                        
                      .text-center.text-lg-right
                        a(href="#!").btn.btn--thin
                          span.d-none.d-sm-inline-block посмотреть меню
                          span.d-sm-none Меню

                .reservation__top
                  div
                    .reservation__top-title
                      div Не успел занять места за столом - займи дополнительные места
                  div
                    a(href="#!").btn
                      span.d-none.d-md-inline-block забронировать место
                      span.d-md-none забронировать
                
                .reservation__body
                  .row.reservation__body-row
                    .col-12.col-md-6
                      .reserv-block
                        .reserv-block__block.reserv-block__block--1.is-leading
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b ведущий
                            span Адам 
                        .reserv-block__block.reserv-block__block--2.is-busy
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Наталья К. 
                        .reserv-block__block.reserv-block__block--3.is-busy
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Дмитрий П. 
                        .reserv-block__block.reserv-block__block--4.is-busy
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Иван К. 
                        .reserv-block__block.reserv-block__block--5.is-busy
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Изя Ю. 
                        .reserv-block__block.reserv-block__block--6.is-busy
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Адя Г. 
                        .reserv-block__block.reserv-block__block--7.is-busy
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Одя З. 
                        .reserv-block__block.reserv-block__block--8.is-busy
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Кирилл К. 
                        .reserv-block__block.reserv-block__block--9.is-busy
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Мифодий У. 
                        .reserv-block__block.reserv-block__block--10.is-busy
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Карина Й. 
                        .reserv-block__block.reserv-block__block--11.is-busy
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Марина Б. 
                        .reserv-block__block.reserv-block__block--12.is-your
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b ваше место
                            span Карина Б. 
                        .reserv-block__round
                          div
                            p общение
                            img(src="./tmp/reservation-friends-talking.svg", alt="")

                    .col-12.col-md-6
                      .reserv-block
                        .reserv-block__block.reserv-block__block--1.is-leading
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b ведущий
                            span Адам 
                        .reserv-block__block.reserv-block__block--2
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--3
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--4
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--5
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--6
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--7
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--8
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--9
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--10
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--11
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--12
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__round
                          div
                            p eurostars
                            img(src="./tmp/reservation-friends-euro.svg", alt="")

                    .col-12
                      .reserv-block
                        .reserv-block__block.reserv-block__block--1.is-leading
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b ведущий
                            span Адам 
                        .reserv-block__block.reserv-block__block--2
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--3
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--4
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--5
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--6
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--7
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--8
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--9
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--10
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--11
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--12
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__round
                          div
                            p улучшенный
                            img(src="./tmp/reservation-friends-vip.svg", alt="")

                    .col-12.col-md-6
                      .reserv-block
                        .reserv-block__block.reserv-block__block--1.is-leading
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b ведущий
                            span Адам 
                        .reserv-block__block.reserv-block__block--2
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--3
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--4
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--5
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--6
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--7
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--8
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--9
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--10
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--11
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--12
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__round
                          div
                            p день
                              span.d-none.d-lg-block рождения
                            img(src="./tmp/reservation-cake-pop.svg", alt="")

                    .col-12.col-md-6
                      .reserv-block
                        .reserv-block__block.reserv-block__block--1.is-leading
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b ведущий
                            span Адам 
                        .reserv-block__block.reserv-block__block--2
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--3
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--4
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--5
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--6
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--7
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--8
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--9
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--10
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--11
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--12
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__round
                          div
                            p игротека
                            img(src="./tmp/reservation-board-game.svg", alt="")

                    .col-12
                      .reserv-block
                        .reserv-block__block.reserv-block__block--1.is-leading
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b ведущий
                            span Адам 
                        .reserv-block__block.reserv-block__block--2
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--3
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--4
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--5
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--6
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--7
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--8
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--9
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--10
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--11
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--12
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__round
                          div
                            p гость
                            img(src="./tmp/reservation-record.svg", alt="")

                    .col-12
                      .reserv-block
                        .reserv-block__block.reserv-block__block--1.is-leading
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b ведущий
                            span Адам 
                        .reserv-block__block.reserv-block__block--2
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--3
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--4
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--5
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--6
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--7
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--8
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--9
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--10
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--11
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--12
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__round
                          div
                            p кошер 
                              span.d-none.d-lg-block сторис
                            img(src="./tmp/reservation-study.svg", alt="")

                    .col-12.col-md-6
                      .reserv-block
                        .reserv-block__block.reserv-block__block--1.is-leading
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b ведущий
                            span Адам 
                        .reserv-block__block.reserv-block__block--2
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--3
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--4
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--5
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--6
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--7
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--8
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--9
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--10
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--11
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--12
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__round
                          div
                            p speaking 
                              span.d-none.d-lg-block english
                            img(src="./tmp/reservation-speaking.svg", alt="")

                    .col-12.col-md-6
                      .reserv-block
                        .reserv-block__block.reserv-block__block--1.is-leading
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b ведущий
                            span Адам 
                        .reserv-block__block.reserv-block__block--2
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--3
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--4
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--5
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--6
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--7
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--8
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--9
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--10
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--11
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__block.reserv-block__block--12
                          img(src="./images/sp.gif", alt="").reserv-block__img
                          .reserv-block__block-title
                            b гость
                            span Свободно 
                        .reserv-block__round
                          div
                            p juhuro 
                            img(src="./tmp/reservation-juhuro.svg", alt="")

                // Invitation
                .invitation
                  .invitation__wrapper
                    div
                      .invitation__title пригласи 
                        strong на шаббат друга!
                      .invitation__img
                        img(src="./tmp/invitation-img.jpg", alt="")
                    div
                      .invitation__social
                        div
                          a(href="#!" target="_blank")
                            img(src="./images/icon-facebook-2.svg", alt="")
                          a(href="#!" target="_blank")
                            img(src="./images/icon-vk-2.svg", alt="")
                          a(href="#!" target="_blank")
                            img(src="./images/icon-telegram-2.svg", alt="")
                          a(href="#!" target="_blank")
                            img(src="./images/icon-whatsapp-2b.svg", alt="")
                          a(href="#!" target="_blank")
                            img(src="./images/icon-viber-2.svg", alt="")
                  .invitation__p Помните, спам - плохо. Бессмысленный и не нужный спам - потеря друга!

                .reservation__content
                  .reservation__content-top
                    div
                      .reservation__content-title Немного о Недельной главе
                      .d-none.d-md-block.h3 Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. 
                    div
                      .one-activity__date.mt20
                        .one-activity__date-wrapper
                          .d-flex.mb10
                            span Начало: 
                            strong.fs22.mb0.ml10 9 февраля в 20:00
                          .d-flex
                            span Конец:
                            strong.fs18.mb0.ml10 9 февраля в 20:00

                      .d-md-none.h3 Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. 

                  p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. 
                  h3
                    strong Нам есть что тебе предложить
                  p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. 
                  p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. 

        include ./_include/_social-share

        include ./_include/_footer

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

