doctype

html(lang="ru")

  -var active = 'Ui-kit' //активный пункт меню, список в header.jade
  -var pageTitle = 'Ui-kit' + ' - Jewell' //title страницы для генерации верстки

  include ./_include/_head

  body

    // Preloader
    include ./_include/_preloader

    .clear30

    .content
      .container

        .h1 Ui kit

        .clear30

        a(href="#!").btn.btn--default
          span заполнить анкету

        .clear30

        .social
          a(href="#!" target="_blank")
            img(src="./images/icon-facebook.svg", alt="")
          a(href="#!" target="_blank")
            img(src="./images/icon-vk.svg", alt="")
          a(href="#!" target="_blank")
            img(src="./images/icon-instagram.svg", alt="")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

