doctype

html(lang="ru")

  -var active = 'Ui-kit' //активный пункт меню, список в header.jade
  -var pageTitle = 'Ui-kit' + ' - Jewell' //title страницы для генерации верстки

  include ./_include/_head

  body

    // Preloader
    include ./_include/_preloader

    .clear30

    .content
      .container

        .h1 Ui kit

        .clear30

        a(href="#!").btn
          span заполнить 
            span.d-none.d-md-inline-block анкету

        .clear20

        a(href="#!").btn.btn--register
          span Регистрация на шаббат
        button(type="button").btn.btn--register
          span Регистрация на шаббат

        .clear70

        a(href="#senks").open-popup-link Спасибо за вашу заявку!
        br
        a(href="#senks2").open-popup-link Спасибо за проявленное сострадание!
        br
        a(href="#reservation").open-popup-link Забронировать
        br
        a(href="#confirm").open-popup-link Подтвердите бронь
        br
        a(href="#sure").open-popup-link Вы уверены, что хотите снять бронь?

        .clear70

        .social
          a(href="#!" target="_blank")
            img(src="./images/icon-facebook.svg", alt="", width="12", height="21")
          a(href="#!" target="_blank")
            img(src="./images/icon-vk.svg", alt="", width="29", height="17")
          a(href="#!" target="_blank")
            img(src="./images/icon-instagram.svg", alt="", width="21", height="21")

        .clear30

        .row
          .col-lg-6
            label.form__group.has-icon
              .form__label.j-label Фамилия и Имя
                sup *
              input.form__control.j-input(type="text" name="text" placeholder="" value="")
              img(src="./images/icon-form-user.svg", alt="").icon-img
          .col-lg-6
            label.form__group.has-icon
              .form__label.j-label Фамилия и Имя
                sup *
              input.form__control.j-input(type="text" name="text" placeholder="" value="Иванов Иван")
              img(src="./images/icon-form-user.svg", alt="").icon-img
        .row
          .col-lg-6
            label.form__group.has-icon
              .form__label.j-label E-mail
                sup *
              input.form__control.j-input(type="text" name="text" placeholder="" value="")
              img(src="./images/icon-form-mail.svg", alt="").icon-img
          .col-lg-6
            label.form__group.has-icon.has-error
              .form__label.j-label E-mail
                sup *
              input.form__control.j-input(type="text" name="text" placeholder="" value="5465654343.ру")
              img(src="./images/icon-form-mail.svg", alt="").icon-img
        .row
          .col-lg-6
            label.form__group.has-icon
              .form__label.j-label Телефон
                sup *
              input.form__control.j-input(type="text" name="text" placeholder="" value="")
              img(src="./images/icon-form-phone.svg", alt="").icon-img
          .col-lg-6
            label.form__group.has-icon
              .form__label.j-label Телефон
                sup *
              input.form__control.j-input(type="text" name="text" placeholder="" value="1 815 555 12 12")
              img(src="./images/icon-form-phone.svg", alt="").icon-img
        .row
          .col-lg-6
            label.form__group.has-icon
              .form__label.j-label Ваше сообщение
                sup *
              textarea.form__control.j-input(rows="5" name="message" placeholder="" value="")
              img(src="./images/icon-form-pencil.svg", alt="").icon-img
          .col-lg-6
            label.form__group.has-icon
              .form__label.j-label Ваше сообщение
                sup *
              textarea.form__control.j-input(rows="5" name="message" placeholder="")
              img(src="./images/icon-form-pencil.svg", alt="").icon-img
        .row
          .col-lg-6
            .form__group
              label.form__checkbox
                input(type="checkbox")
                span.form__checkbox-input
                span.form__checkbox-label.font-weight-normal Отправить анонимно и не присылать мне на почту отчеты использования денежных средств
          .col-lg-6
            .form__group
              label.form__checkbox
                input(type="checkbox" checked)
                span.form__checkbox-input
                span.form__checkbox-label.font-weight-normal Отправить анонимно и не присылать мне на почту отчеты использования денежных средств

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

