/* modules */
.wrapper {
  height: 100%;
  @media (min-width: 1440px) {
    padding-left: 290px;
  }
  &::before, &::after {
    @media (min-width: 1440px) {
      content: '';
      position: fixed;
      width: 441px;
      height: 592px;
      background-repeat: no-repeat;
    }
  }
  &::before {
    background-image: url("../images/bg-l-compressor.png");
    left: -30px;
    top: -30px;
  }
  &::after {
    right: -287px;
    top: -15px;
    background-image: url('../images/bg-r-compressor.png');
  }
}
.content {
  font-size: rem(18px);
  padding-top: 45px;
  position: relative;
  z-index: 50;
  @media (min-width: 990px) {
    padding-top: 60px;
  }
  @media (min-width: 1440px) {
    padding-top: 68px;
  }
  &__head {
    .small {
      font-size: rem(14px);
      color: #b5b5b5;
      display: block;
      margin-bottom: 6px;
      font-weight: 500;
      letter-spacing: 1.4px;
      @media (min-width: 990px) {
        font-size: rem(18px);
      }
      @media (min-width: 1440px) {
        margin-bottom: 2px;
      }
    }
    h1, .h1 {
      margin-bottom: 0;
    }
    margin-bottom: 15px;
    @media (min-width: 990px) {
      margin-bottom: 25px;
    }
    @media (min-width: 1440px) {
      margin-bottom: 40px;
    }
  }
  &__row {
    margin-bottom: 25px;
    @media (min-width: 990px) {
      margin-bottom: 50px;
    }
    @media (min-width: 1440px) {
      margin-bottom: 45px;
    }
    &-head {
      &--exclamation {
        &>.h2, &>h2 {
          display: inline-block;
          position: relative;
          z-index: 5;
          &::before, &::after {
            @media (min-width: 990px) {
              position: absolute;
              color: #f0f8fa;
              z-index: -1;
              content: '!';
              font-weight: 600;
              line-height: 1;
            }
          }
          &::before {
            font-size: 100px;
            right: 0px;
            top: -20px;
          }
          &::after {
            font-size: 60px;
            right: 65px;
            top: -30px;
          }
        }
      }
      &>.h3, &>h3 {
        font-size: rem(22px);
        font-weight: bold;
      }
      &--question {
        &>.h2, &>h2, &>.h3, &>h3 {
          display: inline-block;
          position: relative;
          z-index: 5;
          &::before, &::after {
            @media (min-width: 990px) {
              position: absolute;
              color: #f0f8fa;
              z-index: -1;
              content: '?';
              font-weight: 600;
              line-height: 1;
            }
          }
          &::before {
            font-size: 100px;
            right: 0px;
            top: -20px;
          }
          &::after {
            font-size: 60px;
            right: 65px;
            top: -30px;
          }
        }
      }
    }
    &-content {
      &.fs14 {
        font-size: rem(14px);
      }
    }
  }
  &__carousel {
    position: relative;
    margin-bottom: 60px;
    @media (min-width: 990px) {
      margin-bottom: 110px;
    }
    @media (min-width: 1440px) {
      margin-bottom: 85px;
    }
    &-wrapper {
      position: relative;
      margin: 0 -15px;
      .slick-list {
        clip-path: polygon(50% 0%, 100% 0, 100% 40%, calc(100% - 50px) 100%, 0 100%, 0 50%, 40px 0);
        @media (min-width: 990px) {
          clip-path: polygon(50% 0%, 100% 0, 100% 0, calc(100% - 60px) 100%, 0 100%, 0 100%, 60px 0);
        }
        @media (min-width: 1440px) {
          clip-path: polygon(50% 0%, 100% 0, 100% 0, calc(100% - 134px) 100%, 0 100%, 0 100%, 134px 0);
        }
      }
      @media (min-width: 990px) {
        margin: 0 -25px;
      }
      @media (min-width: 1650px) {
        margin: 0 -85px;
      }
    }
    .slick-slide {
      overflow: hidden;
      img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        @media (min-width: 768px) {
          height: 262px;
        }
        @media (min-width: 1440px) {
          height: auto;
          width: auto;
          max-width: 100%;
        }
      }
    }
    .slick-dots {
      text-align: right;
      padding-right: 50px;
      @media (min-width: 990px) {
        padding-right: 60px;
      }
      @media (min-width: 1440px) {
        padding-right: 135px;
      }
      li {
        width: auto;
        height: auto;
        margin: 0 0 0 10px;
        button {
          width: 10px;
          height: 3px;
          padding: 0;
          font-size: 0;
          background: $color-lightblue;
          transition: all 0.35s;
          border-radius: 5px;
          &::before {
            display: none;
          }
          @media (min-width: 990px) {
            height: 4px;
          }
          @media (min-width: 1440px) {
            height: 6px;
          }
        }
        &.slick-active {
          button {
            background: $color-yellow;
            width: 30px;
          }
        }
      }
    }
  }
  &__form {
    border: 2px solid #fff648;
    padding: 30px 15px 40px 15px;
    margin: 0 -15px 70px -15px;
    background: $color-white;
    @media (min-width: 990px) {
      padding: 60px 30px 55px 30px;
    }
    @media (min-width: 1440px) {
      padding: 65px 70px;
    }
    @media (min-width: 1650px) {
      margin-left: -65px;
      margin-right: -65px;
    }
    &-title {
      font-size: rem(22px);
      font-weight: bold;
      line-height: 1.45;
      margin-bottom: 16px;
    }
    &-content {
      &.fs14 {
        font-size: rem(14px);
      }
    }
  }
  &__contacts {
    &-head {
      font-size: rem(12px);
      font-weight: bold;
      margin-bottom: 5px;
    }
    &-wrapper {
      font-size: rem(14px);
      padding-left: 20px;
      a {
        color: $primary-color;
        text-decoration: none;
      }
    }
  }
  &__map {
    clip-path: polygon(50% 0%, 100% 0, 100% 40%, calc(100% - 50px) 100%, 0 100%, 0 50%, 40px 0);
    @media (min-width: 990px) {
      clip-path: polygon(50% 0%, 100% 0, 100% 0, calc(100% - 60px) 100%, 0 100%, 0 100%, 60px 0);
    }
    @media (min-width: 1440px) {
      clip-path: polygon(50% 0%, 100% 0, 100% 0, calc(100% - 134px) 100%, 0 100%, 0 100%, 134px 0);
    }
  }
}

.slick-slide {
  &:focus {
    outline: none;
  }
}

.donations {
  &__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    @media (min-width: 576px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 380px;
      margin-left: auto;
      margin-right: auto;
    }
    @media (min-width: 990px) {
      margin-left: 0;
    }
    @media (min-width: 1650px) {
      max-width: inherit;
      width: 560px;
    }
    &>div {
      &:last-child {
        @media (min-width: 1650px) {
          width: 100%;
        }
      }
    }
  }
  &__label {
    display: inline-block;
    margin: 0 0 20px 0;
    font-weight: bold;
    font-size: rem(22px);
    cursor: pointer;
    @media (min-width: 576px) {
      margin-bottom: 25px;
    }
    input[type="radio"] {
      display: none;
      &:checked {
        &~[class*="-span"] {
          width: 290px;
          @media (min-width: 576px) {
            width: 185px;
          }
          &::before {
            background: $color-yellow;
          }
        }
      }
    }
    &-span {
      background: transparent;
      height: 48px;
      line-height: 48px;
      display: block;
      width: 230px;
      text-align: center;
      position: relative;
      transition: all 0.35s;
      @media (min-width: 576px) {
        width: 185px;
        transition: none;
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 10px;
        bottom: 0;
        width: calc(100% - 20px);
        transform: skewX(25deg);
        transition: ease-in-out .25s;
        background: $color-white;
        border: 1px solid $color-yellow;
      }
      span {
        position: relative;
        z-index: 5;
      }
      .icon-rouble {
        font-size: rem(14px);
        vertical-align: middle;
        margin-left: 4px;
        font-weight: 400;
      }
    }
  }
  &__input {
    display: flex;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 30px;
    @media (min-width: 576px) {
      padding-top: 0;
    }
    @media (min-width: 1650px) {
      float: right;
    }
    &-span {
      font-size: rem(12px);
      font-weight: bold;
      display: block;
      width: 78px;
      text-align: right;
      line-height: 1.17;
    }
    &-input {
      position: relative;
      @media (min-width: 1650px) {
        margin-left: 10px;
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 10px;
        bottom: 0;
        width: calc(100% - 20px);
        transform: skewX(25deg);
        transition: ease-in-out .25s;
        background: $color-yellow;
        border: 1px solid $color-yellow;
      }
      input {
        background: transparent !important;
        padding: 0;
        border: 0;
        height: 48px;
        position: relative;
        z-index: 5;
        font-size: rem(22px);
        font-weight: bold;
        width: 210px;
        text-align: left;
        padding-left: 42px;
        padding-right: 51px;
        @media (min-width: 576px) {
          width: 300px;
        }
        @media (min-width: 1650px) {
          width: 360px;
        }
      }
      .icon-rouble {
        position: absolute;
        right: 40px;
        bottom: 10px;
        font-size: rem(14px);
        vertical-align: middle;
        margin-left: 4px;
        font-weight: 400;
      }
    }
  }
}

.map {
  height: 180px;
  @media (min-width: 768px) {
    height: 262px;
  }
  @media (min-width: 1200px) {
    height: 327px;
  }
}

.modal {
  position: relative;
  border: 2px solid $color-yellow;
  background: $color-white;
  max-width: 527px;
  margin: 10px auto;
  &--big {
    max-width: 979px;
  }
  &--biggest {
    max-width: 1286px;
    @media (min-width: 990px) {
      min-height: 200px;
    }
  }
  &__close {
    display: flex;
    align-items: center;
    font-size: 0;
    color: #919191;
    position: absolute;
    right: -1px;
    top: -1px;
    background: none;
    padding: 0;
    font-size: rem(12px);
    i {
      margin-left: 15px;
      width: 35px;
      height: 35px;
      background: $color-yellow;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.5' height='13.5' viewBox='0 0 13.5 13.5'%3E%3Cpath d='M13.5.8l-.8-.8-6 6L.8 0 0 .8l6 6-6 5.9.8.8 6-6 5.9 6 .8-.8-6-6z'/%3E%3C/svg%3E");
    }
    &:hover {
      color: $primary-color;
      i {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38.3' height='38.3' viewBox='0 0 38.3 38.3'%3E%3Cpath d='M37 3.5l-2.2-2L19.2 17 3.5 1.4l-2 2.1L17 19.2 1.4 34.8 3.5 37l15.7-15.6 15.6 15.6 2.1-2-15.6-15.7z' stroke='%23fff648' stroke-width='2'/%3E%3C/svg%3E");
      }
    }
  }
  &__wrapper {
    padding: 40px 20px 20px 20px;
    font-size: rem(14px);
    @media (min-width: 990px) {
      padding-top: 70px;
    }
    @media (min-width: 1200px) {
      padding-left: 60px;
      padding-right: 60px;
    }
    &-payment {
      display: flex;
      flex-direction: column;
      @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
      }
      .btn {
        transform: translateX(0);
      }
    }
  }
  &__title {
    font-size: rem(19px);
    font-weight: bold;
    margin-bottom: 13px;
    @media (min-width: 990px) {
      font-size: rem(22px);
    }
    @media (min-width: 1200px) {
      font-size: rem(28px);
    }
  }
}

.div-table {
  display: table;
  &-cell {
    display: table-cell;
    vertical-align: middle;
    &+div {
      padding-left: 15px;
    }
  }
}