/* buttons */

button {
  @include button-reset;
  &:focus {
    outline: none;
  }
}

.btn {
  min-height: 48.4px;
  padding: 12px 75px 8px 38.9px;
  font-size: rem(18px);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: $primary-color;
  display: inline-block;
  background: transparent;
  position: relative;
  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 157px;
    transform: skewX(25deg);
    transition: ease-in-out 0.25s;
    background: $color-yellow;
  }
  &::after {
    background: #f0f5fa;
    display: none;
  }
  &>span {
    position: relative;
    z-index: 5;
    white-space: nowrap;
    &::after, &::before {
      content: '';
      position: absolute;
      right: -40px;
      bottom: 5px;
      background: $primary-color;
    }
    &::after {
      width: 26px;
      height: 2px;
    }
    &::before {
      width: 2px;
      height: 13px;
      transform: rotate(-20deg);
    }
  }
  &:hover, &:focus {
    color: $primary-color;
    text-decoration: none;
    &::before {
      width: calc(100% - 20px);
    }
  }
  &--send {
    transform: translateX(-25px);
    &::before, &::after {
      width: 125px;
      @media (min-width: 768px) {
        width: 160px;
      }
    }
  }

  &--register {
    min-height: 39px;
    padding: 10px 42px 8px 35px;
    font-size: rem(14px);
    &::before {
      width: calc(100% - 20px);
      z-index: 2;
    }
    &::after {
      width: calc(100% - 36px);
      display: block;
      transform: skewX(25deg) rotate(-1.5deg);
      transform-origin: 100% 100%;
      z-index: 1;
    }
    span {
      opacity: 1;
      transition: all 0.35s;
      white-space: nowrap;
      &::before {
        display: none;
      }
      &::after {
        height: 0;
        width: 0;
        border-left: 17px solid #a59d06;
        border-bottom: 5px solid transparent;
        bottom: -15px;
        right: -41px;
        background: transparent;
        opacity: 1;
        transition: all 0.35s;
      }
    }
    &:hover {
      &::after {
        transform: skewX(25deg) rotate(0deg);
      }
      span {
        opacity: 0.7;
        &::after {
          // opacity: 0;
        }
      }
    }
  }

  &--only-arrow {
    padding: 0;
    width: 60px;
    &::before {
      width: 60px;
    }
    span {
      &::after {
        width: 18px;
      }
      &::after, &::before {
        right: 4px;
      }
    }
  }

  &--small {
    min-height: 42px;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  &--big {
    min-height: 63px;
    padding-top: 19px;
    padding-bottom: 12px;
  }
  &--thin {
    transform: translateX(-45px);
    &::before {
      width: 95px;
    }
  }
  &--very-thin {
    transform: translateX(-30px);
    &::before {
      width: 80px;
    }
  }
  &--light {
    &::before {
      background: #f5fbfd;
    }
  }
}