/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $color-white;
  z-index: 90;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  @media (min-width: 1200px) {
    display: none;
  }
  &-holder {
    height: 80px;
    @media (min-width: 1200px) {
      display: none;
    }
  }
  &__btn {
    background: transparent;
    padding: 0;
    position: absolute;
    right: 0;
    top: 15px;
    width: 50px;
    height: 50px;
    text-transform: uppercase;
    font-weight: 500;
    @media (min-width: 576px) {
      width: auto;
      display: flex;
      align-items: center;
      margin-right: 25px;
    }
    span {
      font-size: 0;
      @media (min-width: 576px) {
        font-size: 16px;
        margin-right: 17px;
        position: relative;
        top: 1px;
      }
    }
    i {
      display: inline-block;
      line-height: 1;
      position: relative;
      width: 19.6px;
      height: 13.5px;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.6' height='13.5' viewBox='0 0 19.6 13.5'%3E%3Cdefs%3E%3Cstyle%3E .cls-1{fill:none;stroke:%23232323;stroke-width:2px} %3C/style%3E%3C/defs%3E%3Cg id='burger' transform='translate(-274 -44.5)'%3E%3Cpath id='Line_110' d='M19.6 0H0' class='cls-1' data-name='Line 110' transform='translate(274 45.5)'/%3E%3Cpath id='Line_111' d='M15.6 0H0' class='cls-1' data-name='Line 111' transform='translate(278.1 51.2)'/%3E%3Cpath id='Line_112' d='M11.6 0H0' class='cls-1' data-name='Line 112' transform='translate(282.1 57)'/%3E%3C/g%3E%3C/svg%3E");
    }
    &:hover {
      @media (min-width: 990px) {
        i {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.6' height='13.5' viewBox='0 0 19.6 13.5'%3E%3Cdefs%3E%3Cstyle%3E .cls-1{fill:none;stroke:%2350acde;stroke-width:2px} %3C/style%3E%3C/defs%3E%3Cg id='burger' transform='translate(-274 -44.5)'%3E%3Cpath id='Line_110' d='M19.6 0H0' class='cls-1' data-name='Line 110' transform='translate(274 45.5)'/%3E%3Cpath id='Line_111' d='M15.6 0H0' class='cls-1' data-name='Line 111' transform='translate(278.1 51.2)'/%3E%3Cpath id='Line_112' d='M11.6 0H0' class='cls-1' data-name='Line 112' transform='translate(282.1 57)'/%3E%3C/g%3E%3C/svg%3E");
        }
      }
      
    }
    &.is-active {
      i {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.2' height='15.2' viewBox='0 0 15.2 15.2'%3E%3Cdefs%3E%3Cstyle%3E .cls-1{fill:none;stroke:%23232323;stroke-width:2px} %3C/style%3E%3C/defs%3E%3Cg id='burger' transform='translate(-276.4 -43.6)'%3E%3Cpath id='Line_111' d='M19.5 0H0' class='cls-1' data-name='Line 111' transform='rotate(45 85 356.6)'/%3E%3Cpath id='Line_136' d='M19.5 0H0' class='cls-1' data-name='Line 136' transform='rotate(-45 208.7 -305.4)'/%3E%3C/g%3E%3C/svg%3E");
        width: 19.6px;
        height: 15.2px;
      }
      &:hover {
        @media (min-width: 990px) {
          i {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.2' height='15.2' viewBox='0 0 15.2 15.2'%3E%3Cdefs%3E%3Cstyle%3E .cls-1{fill:none;stroke:%23232323;stroke-width:2px} %3C/style%3E%3C/defs%3E%3Cg id='burger' transform='translate(-276.4 -43.6)'%3E%3Cpath id='Line_111' d='M19.5 0H0' class='cls-1' data-name='Line 111' transform='rotate(45 85 356.6)'/%3E%3Cpath id='Line_136' d='M19.5 0H0' class='cls-1' data-name='Line 136' transform='rotate(-45 208.7 -305.4)'/%3E%3C/g%3E%3C/svg%3E");
          }
        }
      }
    }
  }
}
.logo {
  // margin-bottom: 72px;
  // height: 193px;
  height: 80px;
  position: relative;
  width: 190px;
  @media (min-width: 990px) {
    width: 220px;
  }
  @media (min-width: 1200px) {
    height: 193px;
    width: 100%;
    margin-bottom: 72px;
  }
  img {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    // width: 240px;
    width: 156px;
    @media (min-width: 990px) {
      width: 168px;
    }
    @media (min-width: 1200px) {
      width: 220px;
      top: 50px;
      transform: translate(-50%,0%);
    }
  }
  &::before {
    @media (min-width: 1200px) {
      content: '';
      opacity: 0.7;
      height: 248px;
      width: 100%;
      background-repeat: no-repeat;
      background-position: top center;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 290 249'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Cpath id='Rectangle_7' d='M0 0h290v249H0z' data-name='Rectangle 7' stroke='%23707070' fill='%23fff'/%3E%3C/clipPath%3E%3Cstyle%3E .cls-4{fill:%23fff}.cls-6{fill:none;stroke:%23fff;stroke-width:5px} %3C/style%3E%3C/defs%3E%3Cg id='bg_pattern' data-name='bg pattern' clip-path='url(%23clip-path)'%3E%3Cg id='figure' transform='translate(-1271.3 -2563.3)' opacity='.1'%3E%3Cpath id='Path_21' d='M1420.4 2677.2l25 44.1h108.8l25.7-42.5 26.6 48.5s-44.5 37.7-50.7 38.9-125.5 2.3-125.5 2.3l-50.3-24.7 10.7-51.3 11.2-34.2 20.4-42.1 28.2 4.5-2.4 12.8z' class='cls-4' data-name='Path 21' transform='translate(-82.2 -69)'/%3E%3Cpath id='Path_20' d='M1517.6 2691l-26.5-48.4 26.5-41-21.6-46.2h-54.4l-27.8-45.4h-45.6l-27.6 45.4h-56L1264 2598l21.8 44.7-21.9 47 20.5 39.9h56.1l27.2 45.3h46l30.6-45.3 51.6 2.9z' data-name='Path 20' transform='translate(26.5 10.2)' fill='%2309a3cb' opacity='.7'/%3E%3Cpath id='Line_1' d='M0 0l156.6 264.8' class='cls-6' data-name='Line 1' transform='translate(1308.1 2556.7)'/%3E%3Cpath id='Line_2' d='M0 0l162.6 282.8' class='cls-6' data-name='Line 2' transform='translate(1388.2 2509.6)'/%3E%3Cpath id='Line_3' d='M0 0l155.5 268.6' class='cls-6' data-name='Line 3' transform='translate(1433 2502.5)'/%3E%3Cpath id='Line_4' d='M0 0l155 268' class='cls-6' data-name='Line 4' transform='translate(1272.8 2580.3)'/%3E%3Cpath id='Line_5' d='M153.3 0L0 268.5' class='cls-6' data-name='Line 5' transform='translate(1244.5 2507.3)'/%3E%3Cpath id='Line_6' d='M160.2 0L0 269' class='cls-6' data-name='Line 6' transform='translate(1284.6 2514.3)'/%3E%3Cpath id='Line_7' d='M163.6 0L0 274.6' class='cls-6' data-name='Line 7' transform='translate(1375.5 2537.8)'/%3E%3Cpath id='Path_22' d='M152 0L-5.6 271.2' class='cls-6' data-name='Path 22' transform='translate(1420 2563.8)'/%3E%3Cpath id='Line_9' d='M54.2 0L0 91.9' class='cls-6' data-name='Line 9' transform='translate(1390.6 2606.2)'/%3E%3Cpath id='Line_10' d='M0 0l54.1 91' class='cls-6' data-name='Line 10' transform='translate(1390.6 2606.2)'/%3E%3Cpath id='Line_11' d='M0 0h108.4' class='cls-6' data-name='Line 11' transform='translate(1364.7 2653.3)'/%3E%3Cpath id='Line_12' d='M0 0h285.1' class='cls-6' data-name='Line 12' transform='translate(1275.1 2608.3)'/%3E%3Cpath id='Line_13' d='M0 0h285.1' class='cls-6' data-name='Line 13' transform='translate(1275.1 2563.8)'/%3E%3Cpath id='Line_14' d='M0 0h285.1' class='cls-6' data-name='Line 14' transform='translate(1275.1 2697.3)'/%3E%3Cpath id='Line_15' d='M0 0h285.1' class='cls-6' data-name='Line 15' transform='translate(1275.1 2739.7)'/%3E%3C/g%3E%3Cpath id='Path_137' d='M119 134h53.7l25.7-42.9-25.7-45.6h-56L92.9 89.8z' class='cls-4' data-name='Path 137'/%3E%3C/g%3E%3C/svg%3E");
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}