// :root {
//   @include defineColorHSL(--color-primary, 0, 89%, 56%);
// }
// [data-theme="dark"] {
//   @include defineColorHSL(--color-primary, 0, 100%, 56%);
// }

$primary-color: #232323;

$link-color: #5db3e2;

$color-white: #ffffff;
$color-gray: #909090;
$color-black: #000000;
$color-red: #ff6e4b;
$color-pink: pink;
$color-yellow: #fff648;
$color-blue: #5db3e2;
$color-lightblue: #dfeaed;

$primary-font: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$font-montserrat: 'Montserrat',$primary-font;
